.NavBar__Content{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-left: 2em;
    padding-right: 3em;
    position: fixed;
    z-index: 1;
}

.NavBar__Content > a {
    height: 40%;
}

.NavBar__Logo {
    height: 100%;
}

.NavBar__Anchors {
    display: none;
}

.NavBar__Menu {
    color: var(--colorSecond);
    display: flex;
    align-items: center;
}
.bx-menu{
    font-size: 30px;
}

@media (min-width: 600px) {
    .NavBar__Content{
        height: 70px;
    }
    .fa-bars{
        display: none;
    }

    .NavBar__Anchors {
        width: 50%;
        max-width: 60%;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .NavBar__Anchors li:hover {
        color: var(--colorSecond);
        transform: scale(1.1);
        
    }
}
