@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center, center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
}
i{
  color: rgba(255, 255, 255, 0.945);
  display: block;
  font-size: 20px;
}
hr {
  border: 1px solid rgb(204, 204, 204,.2);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /*opcional para personalizar los inputs*/
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-smooth: always;
  -wekit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0,.7);
}

